[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
pandas = "*"
google-cloud-storage = "*"
fastparquet = "*"
python-dotenv = "*"
pyarrow = "*"
pytz = "*"
apache-airflow = "==2.5.0"

[dev-packages]

[requires]
python_version = "3.10"
